<header class="border-b border-gray-200">
    <div class="container mx-auto relative p-4 md:flex md:justify-between">
        <div class="flex items-center justify-between flex-wrap w-1/2 md:px-4">
            <a href="/">
                <img src="/images/logo-horizontal-transparent.svg"
                     alt="InfraBlocks"
                     class="hidden md:inline h-16 w-full pr-4 object-contain object-left"/>
                <img src="/images/icon-transparent.svg"
                     alt="InfraBlocks"
                     class="inline md:hidden h-16 w-full pr-4 object-contain object-left"/>
            </a>
        </div>
        <nav class="w-full md:flex md:justify-end md:items-center md:w-auto md:mt-0 md:px-4">
            <input id="menu-state"
                   class="block md:hidden absolute right-4 top-7 h-10 w-10 z-10 appearance-none cursor-pointer outline-none"
                   type="checkbox"/>
            <div id="menu-icon"
                 class="block md:hidden absolute right-4 top-7 h-10 w-10 px-2 py-2 text-gray-600">
                <span class="block w-full bg-gray-600 my-1" style="height: 2px;"></span>
                <span class="block w-full bg-gray-600 my-1" style="height: 2px;"></span>
                <span class="block w-full bg-gray-600 my-1" style="height: 2px;"></span>
            </div>
            <div id="menu" class="hidden md:flex w-full flex-grow mt-4 md:mt-0 text-gray-600">
                <a href="/docs"
                   class="block text-lg py-2 hover:text-gray-900 md:mr-10 md:py-0">
                    Docs
                </a>
                <a href="/blog"
                   class="block text-lg py-2 hover:text-gray-900 md:mr-10 md:py-0">
                    Blog
                </a>
                <a href="/contact"
                   class="block text-lg py-2 hover:text-gray-900 md:py-0 lg:mr-10">
                    Contact
                </a>
                <a href="https://github.com/infrablocks"
                   class="mr-4 hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         class="hover:text-gray-900 fill-current h-6">
                        <title>GitHub</title>
                        <path d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"/>
                    </svg>
                </a>
                <a href="https://gitter.im/infrablocks"
                   class="mr-4 hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 18 25"
                         class="hover:text-gray-900 fill-current h-6">
                        <title>Gitter</title>
                        <rect x="15" y="5" width="2" height="10"/>
                        <rect x="10" y="5" width="2" height="20"/>
                        <rect x="5" y="5" width="2" height="20"/>
                        <rect width="2" height="15"/>
                    </svg>
                </a>
                <a href="https://twitter.com/tobyclemson"
                   class="hidden lg:inline">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20"
                         class="hover:text-gray-900 fill-current h-6">
                        <title>Twitter</title>
                        <path d="M6.29 18.25c7.55 0 11.67-6.25 11.67-11.67v-.53c.8-.59 1.49-1.3 2.04-2.13-.75.33-1.54.55-2.36.65a4.12 4.12 0 0 0 1.8-2.27c-.8.48-1.68.81-2.6 1a4.1 4.1 0 0 0-7 3.74 11.65 11.65 0 0 1-8.45-4.3 4.1 4.1 0 0 0 1.27 5.49C2.01 8.2 1.37 8.03.8 7.7v.05a4.1 4.1 0 0 0 3.3 4.03 4.1 4.1 0 0 1-1.86.07 4.1 4.1 0 0 0 3.83 2.85A8.23 8.23 0 0 1 0 16.4a11.62 11.62 0 0 0 6.29 1.84"/>
                    </svg>
                </a>
            </div>
        </nav>
    </div>
</header>