<main class="bg-cover bg-center"
      style="background-image: url('/images/hero-backdrop.jpg');">
    <div class="container mx-auto px-4">
        <div class="pt-12 pb-20 md:pt-20 md:pb-32 md:px-4 lg:w-1/2">
            <h1 class="inline-block text-5xl bg-white font-light p-4 mb-2">InfraBlocks</h1>
            <h2 class="text-3xl bg-white text-gray-700 font-light leading-tight p-4 mb-2">
                Modular and composable libraries for build and infrastructure.
            </h2>
            <div class="flex">
                <a href="/getting-started"
                   class="bg-orange-600 hover:bg-orange-500 font-semibold text-white text-lg p-6 mt-12 mb-12">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</main>