# vim
*.swp
*.swo

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# Microsoft Code
.vscode

# Build
vendor/
build/
dist/
src/dist/
src/_data/manifest.yml
.direnv

# OS
.DS_Store
*~

# Temporary
run/pids/
run/logs/
*.log
.tmp
.rakeTasks
.rspec_status
.bundle


# Terraform
.terraform
/*.tfstate
/*.tfstate.backup

# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Node & NPM
/node_modules
