---
---
@import "variables";

@import "../../node_modules/normalize-scss/sass/normalize";
@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

@include normalize();

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 1.5em;
  padding-top: 3em;
  text-align: center;
}

.logo {
  width: 300px;
}
