<section>
    <div class="container mx-auto px-4 md:px-8 flex -mt-32">
        {% include components/icon-card.html
             title="Production Ready"
             description="Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Autemdistinctio, ducimus ea eaque earum eos ex illo iste
                molestiae, nam necessitatibus non odio sed sequi suscipit
                tempore tenetur unde vitae."
             margin="true" %}
        {% include components/icon-card.html
             title="Fully Tested"
             description="Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Autemdistinctio, ducimus ea eaque earum eos ex illo iste
                molestiae, nam necessitatibus non odio sed sequi suscipit
                tempore tenetur unde vitae."
             margin="true" %}
        {% include components/icon-card.html
             title="Highly Modular"
             description="Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Autemdistinctio, ducimus ea eaque earum eos ex illo iste
                molestiae, nam necessitatibus non odio sed sequi suscipit
                tempore tenetur unde vitae." %}
    </div>
</section>