<main class="bg-cover bg-center shadow"
      style="background-image: url('/images/hero-backdrop.jpg');">
    <div class="container mx-auto px-4">
        <div class="pt-12 pb-32 md:pt-20 md:pb-40 md:px-4 lg:w-2/5">
            <h1 class="inline-block text-5xl bg-white font-light p-4 mb-2">InfraBlocks</h1>
            <h3 class="text-2xl bg-white text-gray-700 font-light leading-tight p-4 mb-2">
                &gt; Modular and composable libraries for build and infrastructure.
            </h3>
            {% include components/primary-button.html
                 href="/getting-started"
                 description="Get Started" %}
        </div>
    </div>
</main>